.caixa{
    background-color: blue;
}
nav {
    margin:0px auto;
}
.TituloPincipal {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.ulHeader {
    display: flex;
    justify-content: end;
}
.ulHeader li {
    font-size: 20px;
}

.interface {
    width: 45%;
    position: relative;
}
.tabelaProdutoSelecionado {
    position: absolute;
    width: 100%;
    text-align: left;
}
 th, td {
    border: 1px solid black;

}
.tdTabela {
    padding: 3px;
}